LesTouillés-ChatbotAIAgent-v3-FIXED.json
{
  "name": "Les Touillés - Chatbot AI Agent v3 FIXED",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "chatbot-response"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Vous êtes l'assistant virtuel des Touillés, un service de traiteur québécois spécialisé dans les plats sous-vide prêts en 15 minutes.\n\n**Votre rôle** :\n- Répondre aux questions sur le menu (plats, prix, ingrédients, allergènes)\n- Aider avec les réservations d'événements (mariages, corporatifs, fêtes)\n- Guider les clients pour passer commande (ramassage, livraison, Uber Eats)\n- Fournir des informations (horaires, livraison, contact)\n- Capturer les leads intéressés (nom, email, demande)\n\n**Ton** : Professionnel, chaleureux, et serviable. Utilisez le tutoiement en français.\n\n**Informations clés** :\n- **Concept** : Plats sous-vide de qualité traiteur, prêts en 15 minutes\n- **Préparation** : Déposer le sachet dans l'eau chaude, c'est prêt !\n- **Menu** : Plats principaux, boîtes à lunch, entrées, desserts, buffets traiteur\n- **Prix** : Entre 11$ et 32$ selon les plats\n- **Livraison** : Ramassage, livraison à domicile, ou Uber Eats\n- **Contact** : Via le site web ou formulaire de réservation\n\n**Instructions** :\n1. Détectez automatiquement la langue du client (français ou anglais)\n2. Répondez dans la même langue que le client\n3. Si le client demande un devis ou veut réserver, demandez : nom, email, type d'événement\n4. Soyez concis mais complet (2-3 phrases maximum)\n5. Proposez toujours une action suivante (\"Voulez-vous voir le menu?\", \"Puis-je vous aider à réserver?\")\n\n**Message du client** : {{ $json.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Vous êtes l'assistant virtuel professionnel des Touillés. Répondez de manière concise, chaleureuse et utile."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response-text",
              "name": "response",
              "value": "={{ $json.output || $json.text || 'Désolé, je n\\'ai pas pu générer de réponse.' }}",
              "type": "string"
            },
            {
              "id": "should-capture",
              "name": "shouldCaptureLead",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-24T15:43:00.000Z",
  "versionId": "v3-fixed"
}
